.faq-container {
    width: 100%;
    max-width: 600px; /* Ajusta según tus necesidades */
    margin: 0 auto;
    margin-bottom: 30px;

  }


  .faq-title{
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    font-size: 32px;
    text-align: center;
    margin: 20px 0 30px 0;

  }
  
  .faq-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fafafa;
    transition: background-color 0.3s;
  }
  
  .faq-card:hover {
    background-color: white;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
/*   
  .toggle-button {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    width: 20px; /* Ajusta el tamaño para que sea más visible 
    height: 20px; /* Asegúrate de que el alto y ancho sean iguales 
    border: transparent;
    border-radius: 50%;
    background-color:#5aa5c3;
    line-height: 0; /* Asegura que el contenido no se desplace 
    font-size: 18px; /* Ajusta el tamaño de la fuente para que el "+" sea visible 
  } */

  .toggle-button{
    width: 20px;
    height: auto;
    color: #5aa5c3 !important;
    margin-left: 10px;
  }
  
  
  .faq-answer {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }


  .container-text-down{
    background-color: #F7FAFC;
    width: 100%;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .learn-more{
    display: flex;
    gap: 5px;
  
   
  }

  .learn-more p {
   
    font-family: var(--font-segundary);
    color: var(--text-color-primary);
    font-weight: 600;
  }

  .faq-more{
    display: flex;
    gap: 5px;
  }

  .faq-more p{
   
    font-family: var(--font-segundary);
    color: var(--text-color-primary);
  }

  .learn-more-link{
 
    font-family: var(--font-segundary);
    color: var(--text-color-primary);
    font-weight: 600;
  }

  .faq-more-link{
    font-family: var(--font-segundary);
    color: var(--text-color-primary);
  }

  /* Ajustes pequeños para pantallas ultra pequeñas (max 480px) */
@media (max-width: 480px) {
  .faq-container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .faq-title{
    font-size: 23px;
  }
}
  