@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  
    /* Colores principales */
    --primary-color: #A2CCD8;   
    --secondary-color: #2BAAB2 ;
    
    --background-color: #FFFFFF; /* Fondo de la página */
  
    /* Colores de texto */
    --text-color-primary: #265669;
    --text-color-secondary: #7F7F7F;
  
    /* Tipografía */
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'PT Sans', sans-serif;
  }

  .main {
    flex: 1;
  }
  
  html, body {
    
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%; 
    margin: 0;
    /* font-family: var(--font-primary); */
    background-color: var(--background-color);
    /* color: var(--text-color-primary); */
  }


  /* h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary); 
  } */

  .h1{
    font-family: var(--font-primary); 
    color: var(--text-color-primary);
    font-size: 32px;
    margin: 0 0 10px 0;
    padding: 0%;
  }

  .h2 {
    font-size: 20px;
    font-family: var(--font-secondary); 
    color: var(--text-color-secondary);
    margin: 0 0 10px 0;
    padding: 0%;
  }

  h3{
    font-family: var(--font-primary); 
    color: var(--text-color-primary);
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0%;
  }

  p, a, li {
    font-family: var(--font-secondary); 
  }
  

  /* CSS Global o específico de Header y Footer */
/* .container {
  max-width: 1140px;  /* Limita el ancho máximo 
} */




  