/*-----------Seccion 1 -------------------*/

.container {
 max-width: 1440px;
 padding: 0% !important;
 
}

.sec-1-home {
  padding: 0px 0px 30px 60px;
  margin: 0%;
  display: flex;
  flex-direction: row-reverse;
}

.secc-1-slider {
  width: 70%;
  max-width: 720px;
  /* height: 418px; */
  position: relative;
  overflow: hidden;
  padding-right: 0%;
  margin-right: 0%;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 600px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
}


.secc-1-texto {
  width: 50%;
  padding-right: 50px;
}

.sec-1-title {
  margin-top: 140px;
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
  padding-right: 50px;
}

.sec-1-title1 {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  font-weight: lighter;
  padding-right: 50px;
}

.sec-1-title2 {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  margin-bottom: 0%;
  padding-bottom: 0%;
}

/*---------Seccion 2 - Bonjour-----------------*/

.sec-2-home {
  padding: 30px 30px 30px 0px;
  margin: 20px 0 0 0;
  display: flex;
  background: -webkit-linear-gradient(
    -180deg,
    rgba(232, 245, 247, 0),
    #e8f5f7
  ); /* Para Safari */
  background: -moz-linear-gradient(
    -180deg,
    rgba(232, 245, 247, 0),
    #e8f5f7
  ); /* Para Firefox */
  background: linear-gradient(
    -180deg,
    rgba(232, 245, 247, 0),
    #e8f5f7
  ); /* Estándar */
}

.secc-2-Video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-2-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
}

.secc-2-texto {
  width: 50%;
  padding-left: 32px;
  text-align: center;
}

.sec-2-title1 {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  font-weight: lighter;
  margin-right: 10px;
  margin-left: 46px;
  padding-bottom: 10px;
}

.secc-2-Video {
  /* margin-left: 30px; */
  width: 50%;
  /* max-width: 600px; */
  height: auto;
  position: relative;
  overflow: hidden;
}

.newsletter-button {
  background-color: #2baab2;
  width: 151px;
  height: 32px;
  font-family: var(--font-secondary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; /* Opcional: para centrar el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
  border: none; /* Asegura que no haya bordes adicionales si es necesario */
  cursor: pointer; /* Cambia el cursor para que parezca clickeable */
  margin-left: 40%;
  margin-top: 20px;
}

/*-----------Seccion 3--------------*/

.sec-3-home {
  padding: 50px 0;
  margin-left: 0;
}

.sec-3-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
  padding-bottom: 0%;
}

.sec-3-subtitle {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0%;
}

.sec-3-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 5px;
  width: 255px;


  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: none;
}

.card img {
  border-radius: 5px;
  width: 100%;
  height: 202px;
}

.sec-3-card-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 2px;
  padding: 0;
}

.sec-3-card-subtitle {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  font-size: 16px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 4px;
  padding: 0;
}

.sec-3-card-link {
  font-family: var(--font-secondary);
  color: #a2ccd8;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: auto;
  margin-left: 15px;
  margin-bottom: 20px;
}

.sec-3-card-link:hover {
  text-decoration: underline;
}

.sec-3-btn {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.secc-3-btn1 {
  width: 324px;
  height: 52px;
  border-radius: 3px;
  /* padding: 10px 20px; */
  margin-top: 20px;
  background-color: white;
  color: #265669;
  border: 1px solid #265669;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secc-3-btn1:hover {
  background-color: lightblue;
}

.secc-3-btn2 {
  width: 324px;
  height: 52px;
  border-radius: 3px;
  /* padding: 10px 20px; */
  margin-top: 20px;
  background-color: #2baab2;
  color: white;
  border: 1px solid #2baab2;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secc-3-btn2:hover {
  background-color: lightblue;
}

/*----------Seccion 4 - Photographer Guarante-------------------*/

.sec-4-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-left: 30px;
}

.sec-4-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sec-4-home {
  position: relative; /* Asegura que los elementos hijos con posición absoluta estén posicionados en relación a este contenedor */
}

.sec-4-image img {
  margin-top: 105px;
  border-radius: 8px;
  margin-left: 120px;
  position: absolute; /* Permite superponer la imagen */
  top: -10px; /* Ajusta la posición vertical para que se superponga sobre el borde azul */
  left: 0; /* Ajusta la posición horizontal si es necesario */
  z-index: 1; /* Asegura que la imagen esté por encima del contenedor */
}

.sec-4-guarantee {
  width: 692px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background-color: rgba(232, 245, 247, 0.6);
 /*background-color: #E8F5F7; */
  border-radius: 8px;
  position: relative; /* Para que los elementos internos se posicionen en relación a este contenedor */
  z-index: 0; /* Asegura que el contenedor esté detrás de la imagen */
}

.sec-4-title {
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0%;
  margin-top: 20px;
}

.sec-4-text {
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-size: 16px;
  margin: 10px 10px 35px 0;
}

.sec-4-button {
  background-color: #2baab2;
  color: white;
  width: 151px;
  height: 41px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sec-4-button:hover {
  background-color: #e8f6ff;
}

/*----------- SECCION 5: How Captourist Works---------------------- */
.sec-5-home {
  padding: 50px 0;
  text-align: center;
}

.sec-5-title h2 {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: 0%;
}

.secc-5-text-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.sec-5-title p {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  font-size: 16px;
  color: #7f8c8d;
  margin: 10px 0;
}

.sec-5-title a {
  color: #a2ccd8;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.sec-5-steps {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 0 10px 0 10px;
}

.step {
  width: 20%;
  min-width: 250px;
  /* padding: 20px; */
}

.step h3 {
  font-size: 70px;
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.step h4 {
  font-size: 30px;
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  margin-top: 0%;
  margin-bottom: 10px;
}

.step p {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  line-height: 1.5;
}

@media (max-width: 768px) {
  .sec-5-steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 80%;
    margin-bottom: 20px;
  }
}

/*--------Seccion 6 - Favorite Books--------------*/

.sec-6-home {
  padding: 40px 0 40px 0;
  margin: 0%;
  
}

.sec-6-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sec-6-subtitle {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}

.sec-6-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card-6 {
  border: 1px solid #dddddd;
  padding: 5px;
  width: 420px;
  height: 498px;

  position: relative;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-6 img {
  width: 405px;
  height: 283px;
}

.sec-6-cards-text {
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sec-6-card-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 20px;
  margin-top: 10px;
  padding: 0;
  margin-left: 10px;
}

.sec-6-card-subtitle {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  font-size: 16px;
  margin-top: 0px;
  padding: 0;
  margin-left: 10px;
}

.sec-6-button {
  font-family: var(--font-secondary);
  color: var(--text-color-secondary);
  background-color: transparent;
  border: 0.5px solid #265669   !important;
  border-style: solid !important;
  border-radius: 4px;
  width: 358px;
  height: 56px;
  margin-top: 20px;
}


/*-------- Seccion 7 -------*/

.sec-7-content {
  margin-top: 40px;
  height: 300px;
  display: flex;
  padding: 20px;
  margin-left: 40px;
  position: relative; /* Necesario para posicionar los elementos hijos con absolute */
  overflow: hidden; /* Evita que la imagen se desborde fuera del contenedor */
}

.sec-7-image {
  width: 30%;
  height: 300px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
  opacity: 0.9;
  position: absolute;
  right: 0; /* Mueve la imagen hacia la derecha */
  top: 0; /* Alinea la imagen en la parte superior */
  z-index: 1; /* Asegura que la imagen esté detrás del texto */
}

.sec-7-guarantee {
  position: relative; /* El texto estará en relación al contenedor */
  z-index: 2; /* El texto se superpondrá sobre la imagen */
  margin-left: 20px; /* Ajusta el margen según cómo quieras posicionar el texto sobre la imagen */ /* Asegura que el texto sea visible sobre la imagen */
}

.sec-7-home {
  width: 100%;

  position: relative;
  overflow: hidden; /* Asegura que ningún contenido, incluyendo la imagen, se desborde fuera de la sección */
}

.sec-7-title{
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-size: 32px;
  margin-top: 50px;
  margin-left: 80px;
}

.sec-7-text{
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-size: 16px;
  margin-left: 80px;
}

.sec-7-button {
  background-color: #2baab2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80px;
}

.sec-7-button:hover {
  background-color: #e8f6ff;
}

/*----Seccion 8 -Instagram -----*/

.sec-8-home {
 margin: 60px 0 40px 0;
 text-align: center;
 padding-bottom: 50px;
}

.sec-8-content {
 display: flex;
 flex-direction: row;
  /* width: 370px; */
  height: 609px;
  margin-left: 200px;
  gap: 40px;
}

.sec-8-title{
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.instagram {
  border: 1px solid #e3e7ed;
  width: 320px;
  height: 609px;
}

.sec-8-instagram-link {
  display: inline-flex;
  align-items: center;
  text-align: left;
  
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.sec-8-instagram-profile {
  display: flex;
  
  align-items: center;
}
.sec-8-instagram-audio{
  font-family: var(--font-secondary);
  color: var(--text-color-primary);
  font-size: 12px;
  text-decoration: none;
}

.sec-8-instagram-icon {
  margin-right: 0px;
  padding-right: 0%;
}

.sec-8-captourist{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 0%;
  margin-left: 0%;
}

.sec-8-button {
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 15px;
  width: 105px;
  height: 30px;
  background-color: #178dfa;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 45px;
}

.sec-8-button:hover {
  background-color: #e8f6ff;
}

/*----------- Seccionn 9 - testimonies----------*/

.sec-9-content {

  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sec-9-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
} 

.testimonies {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.testimony-card {
  background-color: F5F5F5;

  border-radius: 10px;
  padding: 20px;
  margin-right: 40px;
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.testimony-image img {
  border-radius: 10px;
  width: 352px;
  height: auto;
  margin-right: 20px;
}

.testimony-text {
  text-align: left;
}

.testimony-quote {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.6;
  color: #7f7f7f;
  margin-top: 35px;
}

.testimony-name {
  font-weight: bold;

  padding: 0%;
  margin: 0%;
}

.testimony-person {
  text-align: right;
}

.testimony-year {
  color: #7f8c8d;
  font-size: 14px;
  padding: 0%;
  margin: 0%;
}

.testimony-rating {
  margin-top: 10px;
}

.testimony-rating span {
  color: #f39c12;
}

.testimony-location {
  font-size: 14px;
  color: #7f8c8d;
  margin-left: 0px;
}

/*----Seccion 10 -Socios----*/

.sec-10-title {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  font-size: 32px;
  margin-top: 40px;
  /* margin-bottom: 40px; */
  text-align: center;
} 


/*----------- Responsive para tabletas (pantallas de 768px a 1024px) -----------*/
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    /* padding: 0 20px; */
  }

  .sec-1-home {
    flex-direction: column;
    padding: 0px 0px 20px 20px;
  }

  .secc-1-slider, .secc-1-texto {
    width: 100%;
    max-width: none;
  }

  .sec-2-home {
    flex-direction: column;
    padding: 20px 20px;
  }

  .secc-2-Video, .secc-2-texto {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .sec-4-home {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .sec-4-guarantee {
    width: 90%;
    padding-left: 0;
    text-align: center;
  }

  .sec-4-image img {
    margin-left: 0;
    margin-top: 50px;
  }
}

/*----------- Responsive para móviles (pantallas menores a 768px) -----------*/
@media (max-width: 768px) {
  .container {
    /* padding: 0 15px; */
  }

  .sec-1-home {
    flex-direction: column;
    padding: 0 15px;
  }

  .slider-container{
    height: 300px;
  }

  .secc-1-slider, .secc-1-texto{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
  }

  .sec-2-title1{
    font-size: 14px;
  }

  .sec-1-title, .sec-2-title {
    margin-top: 5px;
    font-size: 25px;
    padding-right: 0;
    padding-left: 0;
  }

  .sec-2-home {
    flex-direction: column;
    padding: 15px;
  }

  .secc-2-Video, .secc-2-texto {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .sec-3-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card {
    width: 100%;
  }

  .sec-4-home {
    flex-direction: column;
    align-items: center;
  }

  .sec-4-guarantee {
    width: 100%;
    padding: 20px;
  }

  .sec-4-image img {
    margin-left: 0;
    margin-top: 40px;
    width: 80%;
  }

  .sec-5-steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 100%;
  }

  .sec-6-home {
    padding: 20px;
  }
}
