.input-field {
  font-weight: normal; 
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #4c4c4c;;
  border:1px solid #5aa5c3 !important;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 580px;
  height: 45px;
  padding: 5px 15px 8px 50px;
  margin-top: 15px;
}

.input-field:focus {
  font-weight: normal; 
  /* border: 1px solid #ccc;  */
  outline: none; 
}

.input-field::placeholder {
  font-family: var(--font-secondary);
  color:var(--font-primary);
  font-size: 14px;
  
}

/* Mantener el color del placeholder sin cambios al hacer clic */
.input-field:focus::placeholder {
  color: #ccc;
}


/* Cuando la lista está visible, agregar el borde deseado */
.input-wrapper.list-open .input-field {
  /* border: 1px solid #ccc; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Estilo para la lista desplegable */
.input-wrapper.list-open .suggestions-list {
  /* border: 1px solid #ccc; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
 
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

/* Estilos para el input */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  position: absolute;
  padding: 15px 0px 0px 0px;
  left: 10px;
  font-size: 35px;
  color: #5aa5c3;
}




.country-group {
  margin-bottom: 10px; /* Espacio entre grupos de países */
}

.country-group > strong {
  font-weight: bold; /* Negrita para el país */
  display: block; /* Asegúrate de que el país esté en una nueva línea */
}

.country-group ul {
  padding-left: 20px; /* Sangría para las ciudades */
  list-style-type: none; /* Sin puntos en la lista */
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.input-wrapper {
  max-width: 100%; /* Asegurarse de que ocupe el 100% del contenedor */
}

@media (max-width: 768px) {
  .input-field {
    width: 100%; /* Asegurarse de que el campo de búsqueda sea responsive */
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .input-field {
    font-size: 14px; /* Reducir tamaño de fuente en pantallas más pequeñas */
    padding: 10px;
  }

  .suggestions-list {
    max-height: 150px; /* Limitar la altura de las sugerencias en pantallas pequeñas */
  }
}
