.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 600px;
    max-height: 200px; /* Ajusta según sea necesario */
    border: 1px solid #265669;
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Añade el scroll vertical si el contenido desborda */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para mejor visibilidad */
  }


.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}
/* 
.suggestions-list li:hover {
  background-color: #f0f0f0;
} */

/*---Input---*/
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  position: absolute;
  padding: 15px 0px 0px 0px;
  /* padding-right: 25px; */
  left: 10px;
  font-size: 35px;
  color: #265669; 
}

.input-field {
  width: 100%;
  max-width: 600px;
  height: 32px;
  padding: 0px 15px 8px 50px; 
  margin-top: 20px;
  border: 1px solid #265669;
  border-radius: 5px;
 
}

.input-field::placeholder {
  font-family: var(--font-secondary);
  color: #7F7F7F;
  font-size: 14px;

}
